<!DOCTYPE html>

<html>
   <head>
      <title>Timestamp Microservice | freeCodeCamp PROJECT</title>
      <link rel="shortcut icon" href="https://cdn.freecodecamp.org/universal/favicons/favicon-32x32.png" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
    <h1>Timestamp Microservice BY Daniel Campo</h1>
    <hr />
    <div class="container">
      
      <h3>Example Output:</h3>
      <p>
        <code>{"unix":1451001600000, "utc":"Fri, 25 Dec 2015 00:00:00 GMT"}</code>
      </p>

      <h3>how to use</h3>
      <p>
        <code> add you request at the end of this page link like this:  /api/<"add you request Unix: key or Date: ??-??-????"> </code>
      </p>
    </div>
    <div class="footer">
      
    </div>
  </body>
</html>
